<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true"
         strict="true">

<testsuites>
  <testsuite name="jerity.core">
    <directory suffix=".php">tests/Core</directory>
  </testsuite>
  <testsuite name="jerity.form">
    <directory suffix=".php">tests/Form</directory>
  </testsuite>
  <testsuite name="jerity.layout">
    <directory suffix=".php">tests/Layout</directory>
  </testsuite>
  <testsuite name="jerity.rest">
    <directory suffix=".php">tests/REST</directory>
  </testsuite>
  <testsuite name="jerity.tool">
    <directory suffix=".php">tests/Tool</directory>
  </testsuite>
  <testsuite name="jerity.ui">
    <directory suffix=".php">tests/UI</directory>
  </testsuite>
  <testsuite name="jerity.util">
    <directory suffix=".php">tests/Util</directory>
  </testsuite>
</testsuites>

<filter>
  <whitelist addUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">src/Core</directory>
    <directory suffix=".php">src/Form</directory>
    <directory suffix=".php">src/Layout</directory>
    <directory suffix=".php">src/REST</directory>
    <directory suffix=".php">src/Tool</directory>
    <directory suffix=".php">src/UI</directory>
    <directory suffix=".php">src/Util</directory>
  </whitelist>
</filter>

  <logging>
    <log type="coverage-html" target="build/coverage"
      charset="UTF-8" yui="true" highlight="false"
      lowUpperBound="35" highLowerBound="70" />
    <log type="coverage-clover" target="build/logs/phpunit.clover.xml" />
    <log type="plain" target="build/logs/phpunit.txt" />
    <log type="json" target="build/logs/phpunit.json" />
    <log type="junit" target="build/logs/phpunit.xml" />
    <log type="testdox-html" target="build/logs/phpunit.testdox.html" />
    <log type="testdox-text" target="build/logs/phpunit.testdox.txt" />
  </logging>

</phpunit>
